{% extends "base_generic.html" %}

{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="sidenav">
         <div class="login-main-text">
            <h1><a class="text-decoration-none text-dark" href="{% url 'index' %}">RV Me <sup class="text-muted h5">BETA</sup></a></h1>
            <h2>Sign up</h2>
            <br/>
         <blockquote class="blockquote">
            <p class="mb-0">You will never need another target pool.</p>
         </blockquote>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method="POST" action="{% url 'signup' %}">
                  {% csrf_token %}
                  <div class="form-group">
                     <label>Username</label>
                     {{ form.username.errors }}
                     <input type="text" class="form-control" name="username" autocomplete="username" placeholder="Username" autofocus required>
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     {{ form.password1.errors }}
                     <input type="password" class="form-control" name="password1" placeholder="Password" minlength="8" required>
                  </div>
                  <div class="form-group">
                     <label>Repeat password</label>
                     {{ form.password2.errors }}
                     <input type="password" class="form-control" name="password2" placeholder="Repeat password" minlength="8" required>
                     <small class="form-text text-muted">Already have an account? <a class="text-black-50" href="{% url 'login' %}">Log in</a></small>
                  </div>
                  {{ form.recaptcha.errors }}
                  {{ form.recaptcha }}
                  {{ form.non_field_errors }}
                  <button type="submit" class="btn btn-dark mt-2">Sign up</button>
               </form>
            </div>
         </div>
      </div>
    </div>
{% endblock %}