{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% block title %}<title>RV Me - Target Pool</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1 class="logo"><a class="text-decoration-none text-dark" href="{% url 'pool:index' %}">RV Me</a></h1>
        <ul class="list-unstyled components mb-5">
          <li {% if request.resolver_match.view_name == 'pool:index' %}class="active"{% endif %}>
            <a href="{% url 'pool:index' %}">Practice</a>
          </li>
          <li {% if request.resolver_match.view_name == 'pool:viewed_targets' %}class="active"{% endif %}>
            <a href="{% url 'pool:viewed_targets' %}">Viewed Targets</a>
          </li>
          <li {% if request.resolver_match.view_name == 'pool:contribute' %}class="active"{% endif %}>
            <a href="{% url 'pool:contribute' %}">Contribute</a>
          </li>
          {% if perms.pool.change_pooltarget %}
            <li>
              <a href="/admin/pool/submission/?moderated__exact=0">Approval Queue</a>
            </li>
          {% endif %}
          <li>
            <a href="/accounts/logout">Log Out</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5 ml-5">
        {% block content %}{% endblock %}
      </div>
		</div>

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script>
        (function($) {

            "use strict";

            var fullHeight = function() {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function(){
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
              $('#sidebar').toggleClass('active');
            });

        })(jQuery);
      {% block custom_js %}{% endblock %}
    </script>
  </body>
</html>