{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>RV Me - {% block title %}{% endblock %}</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

  <!-- Bootstrap and fontawesome core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/styles_main.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a class="text-reset text-decoration-none" href="{% url 'pool:index' %}">RVMe </a></div>
      <div class="list-group list-group-flush">
        <a href="{% url 'pool:index' %}" class="list-group-item list-group-item-action bg-light {% if request.resolver_match.view_name == 'pool:index' %}active{% endif %}">
          <i class="fas fa-bullseye mr-2"></i> Practice
        </a>
        <a href="{% url 'pool:viewed_targets' %}" class="list-group-item list-group-item-action bg-light {% if request.resolver_match.view_name == 'pool:viewed_targets' %}active{% endif %}">
          <i class="fas fa-list-ul mr-2"></i> Viewed Targets
        </a>
        <a href="{% url 'pool:contribute' %}" class="list-group-item list-group-item-action bg-light {% if request.resolver_match.view_name == 'pool:contribute' %}active{% endif %}">
          <i class="fas fa-upload mr-2"></i> Contribute
        </a>
        {% if perms.pool.change_submission %}
            <a href="/admin/pool/submission/?moderated__exact=0" class="list-group-item list-group-item-action bg-light">
              <i class="fas fa-list mr-2"></i> Approval Queue
            </a>
        {% endif %}
        <a href="/accounts/logout" class="list-group-item list-group-item-action bg-light">
          <i class="fas fa-sign-out-alt mr-2"></i> Log out
        </a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="btn btn-light" id="menu-toggle">
          <span class="navbar-toggler-icon"></span>
        </a>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">{% block header %}{% endblock %}</h1>
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>

</body>

</html>