{% extends "base_main.html" %}

{% block title %}Submit target{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="mt-4 mb-4">Submit a target</h1>
    <div class="row">
      <div class="col col-xl-6 col-lg-7 col-md-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group col-md-6">
              <label for="category">Category *</label>
              <select id="category" name="category" class="form-control" required>
                <option disabled selected>Select a Category</option>
                <option value="EVENT">Event</option>
                <option value="LIFEFORM">Lifeform</option>
                <option value="LOCATION">Location</option>
                <option value="OBJECT">Object</option>
                <option value="PERSON">Person</option>
                <option value="OTHER">Other</option>
              </select>
            </div>
            <div class="form-group col-md-10">
              <label for="description">Target Description *</label>
              <input type="text" class="form-control" name="target_description" id="target_description" placeholder="What/where/who the target is." maxlength="255" required></input>
            </div>
            <div class="form-group col-md-10">
              <label for="tasking">Tasking *</label>
              <textarea class="form-control" rows="3" name="tasking" id="tasking" required>Perceive what is in the photo, from the perspective the photo was taken, at the time the photo was taken.</textarea>
            </div>
            <div class="form-group col-md-10">
              <label for="additional_feedback">Additional Feedback</label>
              <textarea class="form-control" rows="3" name="aditional_feedback" id="additional_feedback" placeholder="More information about the target (optional)."></textarea>
            </div>
            <div class="form-group col-md-8">
              <label for="feedback_image">Feedback Image *</label>
              <input type="file" accept="image/*" class="form-control-file" id="feedback_image" name="feedback_image" required>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <h1>Guidelines</h1>
    <p>Please read the guidelines carefuly before submitting a target.</p>
    <h3>How the contribution system works?</h3>
      <p>It's pretty simple. A person, like you, submits a target which is then either rejected or approved by a moderator. Moderators are trusted volunteers who analyses every contribution and judges wheter or not they are fit for the target pool based on the rules listed bellow.</p>
      <p>If the submission is approved, the target is immediately added to the pool so others can remote view it. To avoid AOLs, users never get targets they submitted.</p>
    <h3>Choosing a target</h3>
      <p>In remote viewing, a target can be anything. A person riding a bike, a rocket launch, a historial event, a pile of clothes or even a song! However, not all targets are worth viewing. But what is a target "worth" viewing?</p>
      <p>It has been found through lots of testing that viewers tend to produce better sessions for targets considered interesting. Different researchers have characterized "interesting" in different ways. For our purposes, we hope to construct a pool of target images that are distinct or unique from one another, such that a reasonable person wouldn't confuse them for eachother.</p>
      <p>For example, a picture of a plain mound of dirt wouldn't be very distinct or interesting for most people, but an ancient burial mound with stone carvings might be.</p>
      <p>Sometimes the only reward for remote viewing is an "Aha" moment when the feedback is received. It is nice, if not necessary, for images to have a certain special something, so that they are more likely to provide that moment.</p>
      <p>Rarely do two people agree on the topic of how or why remote viewing might work, but it appears that impressions come from processes that, while subconscious, are as human as we are. Photos will be selected that appeal to our conscious, human sense of interest.</p>
    <h3>Categories</h3>
      <p>There are six categories of targets:</p>
      <h5>Event</h5>
        <p>For events of any kind.</p>
      <h5>Lifeform</h5>
        <p>For animals, plants or other lifeforms.</p>
      <h5>Location</h5>
        <p>For places, tourist attractions, etc.</p>
      <h5>Object</h5>
        <p>For objects.</p>
      <h5>Person</h5>
        <p>For people. Public persons, only.</p>
      <h5>Other</h5>
        <p>For anything that doesn't fit one of the five categories.</p>
    <h3>Feedback Image</h3>
      <p>This is the central part of the target, it's very important to choose an appropriate image. The target must be visible and at the center of the picture and there must be no CGI elements (i.e. filters, people, objects, etc).</p>
    <h3>Description</h3>
      <p>A short description of the target. It should be simple and yet informative.</p>
      <p class="text-danger"><i>Bad:</i> A castle surrounded by trees.</p>
      <p class="text-success"><i>Good:</i> Castle Neuschwanstein, Bavaria, Germany.</p>
    <h3>Restrictions</h3>
      <p>Certain targets are not allowed in this target pool, those are:</p>
      <ul>
        <li>Targets that do not fit the above criteria.</li>
        <li>Targets that contain NSFW elements (e.g. sexual content, violent crimes).</li>
        <li>Targets that can compromise the national or internal security of any state, province, or nation (e.g governmental building).</li>
        <li>Moderators may use their own discretion to reject any target they feel unfit for the target pool.</li>
      </ul>
  </div>
{% endblock %}

{% block custom_js %}
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
      var uploadField = document.getElementById("feedback_image");

      uploadField.onchange = function() {
          if(this.files[0].size > 2097152 * 5){
            alert("File is too big! Max allowed is 10MB.");
            this.value = "";
          };
      };
{% endblock %}