{% extends "base_main.html" %}

{% block title %}Practice{% endblock %}
{% block content %}
  <div class="container mt-4">
    <h1 class="mt-4 mb-4">Practice</h1>
    <div class="row">
      <div class="col col-xl-4 col-lg-4 col-md-6">
        <form method="POST">
          <div class="card border-dark">
            <div class="card-body">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <div class="btn-group" role="group" aria-label="Level selection">
                    <input type="radio" class="btn-check" name="level" id="lvl1" autocomplete="off" value="BEGINNER" checked>
                    <label class="btn btn-outline-secondary" for="lvl1">Beginner</label>
                  
                    <input type="radio" class="btn-check" name="level" id="lvl2" autocomplete="off" value="INTERMEDIATE">
                    <label class="btn btn-outline-secondary" for="lvl2">Intermediate</label>
                  
                    <input type="radio" class="btn-check" name="level" id="lvl3" autocomplete="off" value="ADVANCED">
                    <label class="btn btn-outline-secondary" for="lvl3">Advanced</label>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                  <div class="col">
                    <div class="form-switch">
                      <input class="form-check-input" type="checkbox" name="precognitive" id="precognitive">
                      <label class="form-check-label text-info" for="precognitive">
                        Precognitive <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="The target is not selected until you choose to reveal it."></i>
                      </label>
                    </div>
                    <div class="form-switch">
                      <input class="form-check-input" type="checkbox" name="incsubmitted" id="incsubmitted">
                      <label class="form-check-label" for="incsubmitted">
                        Submitted targets <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="You may get a target that you submitted."></i>
                      </label>
                    </div>
                  </div>
              </div>
              <br/>
              {{ form.non_field_errors }}
              <button type="submit" class="btn btn-dark">Get target</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
