{% extends "base_main.html" %}

{% block content %}
  <div class="container">
    <h1>Approved targets</h1>
    <br/>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Category</th>
          <th scope="col">Uploader</th>
          <th scope="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">Moderated by</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
          <tr class="{% if submission.approved %}table-success{% else %}table-danger{% endif %}">
            <th scope="row">{{ submission.id }}</th>
            <td>{{ submission.category }}</td>
            <td>{{ submission.submitted_by }}</td>
            <td>{{ submission.submission_date|date:"Y/m/d" }}</td>
            {% if submission.approved %}
                <td>Approved</td>
                <td>{{ submission.moderated_by }}
            {% else %}
                <td>Rejected</td>
                <td>{{ submission.moderated_by }}
            {% endif %}
            <td><a href="{% url 'pool:target_detail_approval' submission.id %}">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      {% include "components/pagination.html" %}
    {% endif %}
  </div>
{% endblock %}