{% extends "base_main.html" %}

{% block title %}{{ target.tid }}{% endblock %}
{% block content %}
  {% if not target.revealed %}
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center" style="margin-top: 15%">
        <form action="{% url 'pool:reveal_personal_target' target.tid %}" method="POST">
          {% csrf_token %}
          <button type="submit" id="tid" class="btn btn-outline-dark btn-xlg">{{ target.tid }}</button>
        </form>
      </div>
    </div>
  {% else %}
    <div class="container mt-4">
      <div class="mb-3">
          <h1 style="display: inline-block">{{ target.tid }}</h1>
      </div>
      {{ target.tasking|decryptTxt|safe }}
    </div>
    <div class="container mt-5">
      <div class="form-group">
        <form action="{% url 'pool:conclude_personal_target' target.tid %}" method="POST" class="d-inline-block">
          {% csrf_token %}
          <button type="submit" id="tid" class="btn btn-sm btn-dark">Conclude target</button>
        </form>
        <form action="{% url 'pool:return_personal_target' target.tid %}" method="POST" class="d-inline-block">
          {% csrf_token %}
          <button type="submit" id="tid" class="btn btn-sm btn-link">Return target to the pool</button>
        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}