{% extends "base_main.html" %}

{% block content %}
<div class="container">
  <h1>{{ submittion.id }}</h1>
  <br/>
  <div class="card">
    <a href="{{ submission.pooltarget.feedback_img.url }}" target="_blank"><img class="card-img-top img-fluid" src="{{ submission.pooltarget.feedback_img.url }}" alt="{{ submission.pooltarget.description }}"/></a>
    <div class="card-body">
      <table class="table table-hover table-responsive">
          <tr>
              <th scope="col">Category</th>
              <td>{{ submission.category }}</td>
          </tr>
          <tr>
              <th scope="col">Description</th>
              <td>{{ submission.description }}</td>
          </tr>
          <tr>
              <th scope="col">Id</th>
              <th scope="row">{{ submission.id }}</th>
          </tr>
          <tr>
              <th scope="col">Uploader</th>
              <td>{{ submission.submitted_by }}</td>
          </tr>
          <tr>
              <th scope="col">Submission Date</th>
              <td>{{ submission.submission_date }}</td>
          </tr>
          {% if submission.moderated and not submission.approved%}
            <tr>
              <th scope="col">Reason for rejection</th>
              <td>{{ submission.rejection_reason }}</td>
            </tr>
          {% endif %}
      </table>
    </div>
    <div class="card-footer">
      {% if submission.moderated and not submission.approved %}
        <a class="btn btn-success disabled" href="{% url 'pool:approve_target' submission.id %}">Approve</a>
        <button type="button" class="btn btn-danger disabled" disabled data-toggle="modal" data-target="#rejectSubmissionModalCenter">Reject</button>
      {% elif submission.moderated and submission.approved %}
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectSubmissionModalCenter">Remove</button>
      {% else %}
        <a class="btn btn-success" href="{% url 'pool:approve_target' submission.id %}">Approve</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectSubmissionModalCenter">Reject</button>
      {% endif %}
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="rejectSubmissionModalCenter" tabindex="-1" role="dialog" aria-labelledby="rejectSubmissionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rejectSubmissionModal">Reject submission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'pool:reject_target' submission.id %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                  <label for="reason">Reason</label>
                  <textarea class="form-control" name="reason" id="reason" rows="3" maxlength="200"></textarea>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Reject</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}