{% extends "base_main.html" %}
{% load static %}

{% block metatags %}
<meta property="og:title" content="{{target.target_id}} - RV Me">
<meta property="og:description" content="{{ target.pool_target.target_description }}">
<meta property="og:image" content="https://rvme.app{{ target.pool_target.feedback_img.url }}">
<meta property="og:url" content="https://rvme.app">
{% endblock %}
{% block title %}{{ target.target_id }}{% endblock %}
{% block content %}
  {% if not target.revealed %}
    <div class="container-fluid">
      <div class="d-flex justify-content-center align-items-center" style="margin-top: 15%">
        <form action="{% url 'pool:reveal_target' target.target_id %}" method="POST">
          {% csrf_token %}
          <button id="tid" type="submit" class="btn btn-outline-dark btn-xlg">{{ target.target_id }}</button>
        </form>
      </div>
      <div class="d-flex justify-content-center align-items center mt-3">
        <small>Click to reveal the target. You can always revisit this page in the Viewed Targets section.</small>
      </div>
    </div>
  {% else %}
    <div class="container mt-4">
    <div>
      <h1 style="display: inline-block">{{ target.target_id }}</h1>
      {% if target.is_precog %}<span class="badge badge-info" style="vertical-align: top">Precog</span>{% endif %}
    </div>
      <a class="text-muted h3" href="https://google.com/search?q={{ target.pool_target.target_description }}" target="blank">{{ target.pool_target.target_description }}</a>
      <p class="lead">{{ target.pool_target.tasking }}</p>
      <br/>
      <div class="d-flex justify-content-center">
        <a href="{{ target.pool_target.feedback_img.url }}" target="_blank"><img class="card-img-top img-fluid" style="max-width: 600px;" src="{{ target.pool_target.feedback_img.url }}" alt="{{ target.target_description }}"/></a>
      </div>
      <div class="container mt-4 mb-4">
        <p class="card-text">{{ target.pool_target.additional_feedback|default_if_none:""|urlize }}</p>
      </div>
      <div class="row justify-content-start">
        <div class="col-3">
          <div class="input-group mt-3 mb-4">
            <label class="col-form-label p-2" for="share-link">Share</label>
            <input type="text" id="share-link" aria-label="Share link" class="form-control" value="{{request.scheme}}://{{request.META.HTTP_HOST}}{% url 'pool:shared_target_detail' target.target_uid %}" readonly>
            <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#share-link">Copy</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/clipboard.min.js' %}"></script>
    <script>
      new ClipboardJS('.btn');
    </script>
{% endblock %}