{% extends "base_main.html" %}
{% load tz %}
{% block content %}
<div class="container">
  <h1>Viewed Targets</h1>
  <br/>
  {% if targets %}
  <div class="form-group">
    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#resetViewedTargetsModal">
      Reset
    </button>
  </div>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Target Id</th>
        <th scope="col">Category</th>
        <th scope="col">Type</th>
        <th scope="col">Created</th>
        <th scope="col">Revealed</th>
      </tr>
    </thead>
    <tbody>
      {% for target in targets %}
        <tr>
          <th scope="row"><a href="{% url 'pool:target_detail' target.target_id %}">{{ target.target_id }}</a></th>
          {% if target.revealed %}
            <td>{{ target.pool_target.category|title }}</td>
          {% else %}
            <td>?</td>
          {% endif %}  
          {% if target.is_precog %}
            <td><span class="badge badge-info">Precog</span></td>
          {% else %}
            <td><span class="badge badge-light">Normal</span></td>
          {% endif %}
          <td>{{ target.created|date:"Y/m/d" }}</td>
          <td>{{ target.revealed|yesno|title }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% if is_paginated %}
      {% include "components/pagination.html" %}
    {% endif %}
  {% else %}
    <h1 class="display-4">Such an emptiness <span class="display-4 nowrap">:(</span></h1>
    <h3 class="text-muted">Head over to <a class="text-decoration-none text-dark" href="{% url 'pool:index' %}">practice</a> and start practicing!</h2>
  {% endif %}
</div>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="resetViewedTargetsModal" tabindex="-1" aria-labelledby="resetViewedTargetsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetViewedTargetsLabel">Reset Viewed Targets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form action="{% url 'pool:reset_viewed_targets' %}" method="POST">
      {% csrf_token %}
      <div class="modal-body">
        <p>Are you sure you want to reset your viewed targets? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger">I'm sure</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}