/* Index */
#logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.about-bullets {
  list-style: none;
  padding: 0;
}

.about-bullets li {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 1.1rem;
}

.about-bullets li i {
  font-size: 18px;
  padding-right: 4px;
}

.features {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #f9f9fa;
}

.container .icon-box {
  text-align: center;
  border: 1px solid #fff;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.icon-box .icon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.icon-box .icon i {
  font-size: 36px;
  transition: 0.3s;
}

.icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

.cta {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #343a40;
  color: #fff;
}

#footer {
  background-color: #f3f4f6;
  color: #5f687b;
  font-size: 14px;
  position: relative;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #5f687b;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 25px;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-link {
  font-size: 18px;
  display: inline-block;
  background: #eaecef;
  color: #5f687b;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-bottom {
  border-top: 1px solid #d9dce2;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .contact {
  float: left;
  font-size: 13px;
}
#footer .credits {
  float: right;
  font-size: 13px;
}

.errorlist {
  list-style-type: none;
  padding: 0!important;
  padding-inline-start: 0!important;
}

.errorlist li{
  color: #dc3545!important;
}