{% load static %}
{% load ganalytics_id %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block custom_css %}{% endblock %}
    
    <script async src="https://www.googletagmanager.com/gtag/js?id={% ganalytics_id %}"></script>

    {% block title %}<title>RV Me - Target Pool</title>{% endblock %}
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text-dark" id="logo" href="{% url 'index' %}">RV Me <sup class="h6 text-muted">BETA</sup></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-2 mr-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Community
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="https://reddit.com/r/remoteviewing">Reddit</a>
                      <a class="dropdown-item" href="https://discord.gg/4sWvxzN">Discord</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/nykotar/rvme">GitHub</a>
                  </li>
              </ul>
              <div class="ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-dark" role="button">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-dark" role="button">Sign up</a>
              </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', '{% ganalytics_id %}', { 'anonymize_ip': true });
    </script>
  </body>
</html>