{% extends "base_generic.html" %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Image Upload Terms and Conditions</h1>
    <p>When uploading an image ('photograph' 'photo' 'picture') to this website, you agree to the following terms and conditions. If you do not agree, please DO NOT upload an image.</p>
    <ol>
        <li>You acknowledge that you own the copyright, and have full rights to copy, transmit and display the image in any media, on this website or any other.</li>
        <li>You acknowledge that the image does not infringe on any copyright, property right, trademark or any other applicable right.</li>
        <li>By uploading an image, you agree that the image can be used by any of our site users or visitors for educational use and research use.</li>
        <li>You must not upload photographs that contain objectionable content, including but not limited to nudity, violence, and other offensive, illegal or inappropriate images</li>
        <li>You agree to indemnify and hold RV Me and it's maintainers and contributors free from any claim or demand made by any third party due to or arising out of your uploading to RV Me of any images or from any violation of any other party's rights caused by the use of or the content within the images you upload.</li>
        <li>RV Me does not claim any copyright or any kind of ownership rights to the images you upload. However, by uploading an image to RV Me you thereby grant RV Me a perpetual, royalty-free, non-exclusive, worldwide right to copy, crop, reproduce, edit, publish, display, distribute or otherwise use the image publically in all languages and all media.</li>
        <li>You agree that RVMe.app cannot be held responsible for the misuse or abuse of any image you upload to this site.</li>
    </ol>
</div>
{% endblock %}