{% extends "base_main.html" %}

{% block content %}
  <div class="container">
    <h1>Approval Queue</h1>
    <br/>
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Category</th>
          <th scope="col">Uploader</th>
          <th scope="col">Uploaded</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
          <tr>
            <th scope="row">{{ submission.id }}</th>
            <td>{{ submission.category }}</td>
            <td>{{ submission.submitted_by }}</td>
            <td>{{ submission.submission_date|date:"Y/m/d" }}</td>
            <td><a href="{% url 'pool:target_detail_approval' submission.id %}">View</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      {% include "components/pagination.html" %}
    {% endif %}
    <a href="{% url 'pool:moderated_submissions' %}">Moderated submissions</a>
  </div>
{% endblock %}